body {
    background-color: #999999;
}

.items{
    background-color: #ffffff;
}

#errors {
    color: red;
}

#headerline {
    background-color: #001a43;
    height: 80px;
    width: 100%;
}
.login {
    height: 25px;
}
.main_h1 {
    color: #ffffff;
    font-size: 32px;
    margin-top: 0px;
}
.main_col {
    text-align: center;
}
.pages_h1 {
    color: #001a43;
}

.category {
    color: #999999;
    font-style: italic;
}

a {
    color: red;
}

.cat_list {
    border-right: 2px solid;
    border-color: grey;
}

.flash {
    color: green;
    font-style: italic;
}