{% extends "main.html" %}
{% block content %}
<div class="container items">
    <div class="row">
        <div class="col-xs-8">
            <h1>Delete item {{ item.name }}?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div id="errors"></div>
            <form action="#" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <button type="submit" value="Submit" class="btn btn-default">Submit</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}