<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% if 'username' not in session %}
                    <a href="{{ url_for('showLogin') }}">Login</a>
                {% else %}
                    <a href="{{ url_for('disconnect') }}">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>